<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% data.forEach(value=> { %>

    <div>
      <h3>country: <%= value.country %>  </h3>
      <p>Total Confirmed Cases: <%= value.confirmed %> </p>
      <p>Total Death Cases:<%= value.deaths %>  </p>
      <p>Total Recovered Cases: <%= value.recovered %> </p>
      <p>Date: <%= value.date %>  </p>
    </div>
    <form action="/add" method="post">
      <input type="text" name="country" value="<%= value.country %> " hidden>
      <input type="text" name="confirmed" value ="<%= value.confirmed %>" hidden>
      <input type="text" name = "deaths" value ="<%= value.deaths %>" hidden>
  
      <input type="text" name= "recovered" value ="<%= value.recovered %>" hidden>
  
      <input type="text" name="date" value="<%= value.date %>" hidden>
      <button>Add to  my Records</button>
  
    </form>
  <% }) %> 


  
</body>
</html>